# IDE
.idea/
.vscode/
*.swp
*.swo

# Netresearch environment
.env
.nrdev

# OS
.DS_Store
Thumbs.db

# Composer
vendor/
bin/
logs/
composer.lock

# Build
.build/

# PHPUnit
phpunit-report.xml
coverage/

# Cache files
*.cache
.php-cs-fixer.cache
.phplint.cache
.phpunit.result.cache
