# PHPStorm
.idea
.vscode

# Netresearch environment
.env
.nrdev

# OSX
.DS_Store

# Composer
vendor/
bin/
logs/
composer.lock

# Build stuff
.build/

# PHPUnit
phpunit-report.xml
coverage/

# Cache
.php-cs-fixer.cache
.phplint.cache
.phpunit.result.cache

# TYPO3 testing-framework bootstrap artifacts
/index.php
/typo3/
/typo3conf/
