<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Content">
    <h1><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:module.maintenance.title"/></h1>

    <p><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:module.maintenance.description"/></p>

    <div class="row">
        <div class="col-md-6">
            <h2><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.overview"/></h2>
            <div class="table-fit">
                <table class="table table-striped table-hover">
                    <tr>
                        <th><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.path"/></th>
                        <td><code>{processedPath}</code></td>
                    </tr>
                    <tr>
                        <th><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.files"/></th>
                        <td>{fileCount}</td>
                    </tr>
                    <tr>
                        <th><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.directories"/></th>
                        <td>{directoryCount}</td>
                    </tr>
                    <tr>
                        <th><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.size"/></th>
                        <td><strong>{totalSizeHuman}</strong></td>
                    </tr>
                </table>
            </div>

            <f:if condition="{oldestFile}">
                <h3><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.age"/></h3>
                <div class="table-fit">
                    <table class="table table-sm">
                        <tr>
                            <th><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.oldest"/></th>
                            <td>{oldestFile.name}</td>
                            <td><small class="text-muted">{oldestFile.date}</small></td>
                        </tr>
                        <tr>
                            <th><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.newest"/></th>
                            <td>{newestFile.name}</td>
                            <td><small class="text-muted">{newestFile.date}</small></td>
                        </tr>
                    </table>
                </div>
            </f:if>

            <f:form action="clearProcessedImages" class="mt-3">
                <f:form.button type="submit" class="btn btn-danger">
                    <f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:module.maintenance.clearButton"/>
                </f:form.button>
            </f:form>
        </div>

        <div class="col-md-6">
            <f:if condition="{largestFiles}">
                <h2><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.largest"/></h2>
                <div class="table-fit">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.file"/></th>
                                <th class="text-end"><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.size"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <f:for each="{largestFiles}" as="file">
                                <tr>
                                    <td><small>{file.path}</small></td>
                                    <td class="text-end"><strong>{file.sizeHuman}</strong></td>
                                </tr>
                            </f:for>
                        </tbody>
                    </table>
                </div>
            </f:if>

            <f:if condition="{fileTypes}">
                <h2 class="mt-3"><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.types"/></h2>
                <div class="table-fit">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.extension"/></th>
                                <th class="text-end"><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.count"/></th>
                                <th class="text-end"><f:translate key="LLL:EXT:nr_image_optimize/Resources/Private/Language/locallang.xlf:stats.size"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <f:for each="{fileTypes}" key="ext" as="typeData">
                                <tr>
                                    <td><code>.{ext}</code></td>
                                    <td class="text-end">{typeData.count}</td>
                                    <td class="text-end"><strong>{typeData.sizeHuman}</strong></td>
                                </tr>
                            </f:for>
                        </tbody>
                    </table>
                </div>
            </f:if>
        </div>
    </div>
</f:section>

</html>
