.sysreq-col-component {
    width: 22%;
}

.sysreq-col-status {
    width: 9%;
}

.sysreq-col-current {
    width: 22%;
}

.sysreq-col-required {
    width: 10%;
}

.sysreq-col-details {
    width: 37%;
}

.sysreq-code-color {
    color: var(--bs-code-color);
}

tr.align-top > td {
    vertical-align: top;
}

.sysreq-details {
    display: block;
    white-space: pre-line;
    word-break: break-word;
}

.sysreq-legend-icon {
    margin-right: 0.5rem;
    margin-top: 0.25rem;
}
