name: Add issues to netreseach TYPO3 board

on:
  issues:
    types:
      - opened

permissions: {}

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/add-to-project@v1
        with:
          # You can target a repository in a different organization
          # to the issue
          project-url: https://github.com/orgs/netresearch/projects/4
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
